<h1>Welcome to the listings page</h1>
<ul>
  <% @listings.each do |listing| %>
    <li><%= listing.name %> -
    <% if listing.available == 't' %>
      Available
    <% else %>
      Unavailable
    <% end %>
    <br>
    <%= listing.description %>
    <br>
    £<%=listing.price%>
    </li>
    <form action="/listings/request" method="post">
      <input type="hidden" name="id" value="<%=listing.id%>" />
      <input type="submit" value="Request to book" />
    </form>
  <% end %>
</ul>
