<form action="/listings" method="post">
  <input type="text" name="name" placeholder="Enter property name">
  <input type="text" name="description" placeholder="Enter property description">
  
  <input type="submit" value="Submit">
</form>