<form action="/listings" method="post">
  <input type="text" name="name" placeholder="Enter property name"><br>
  <input type="text" name="description" placeholder="Enter property description"><br>
  <input type="number" name="price" placeholder="Price per night"><br>
  <input type="submit" value="Submit">
</form>