<form action="/users" method="post">
  <label for="email">Email: </label>
  <input type="text" name="email" placeholder="Enter email">
  <label for="password">Password: </label>
  <input type="text" name="password" placeholder="Enter password">
  <input type="submit" value="Register">
</form>
